lyra/models/full_SBI_NPE_Av_logU_ssfr_mass_beta_Muv_burst.pkl
lyra/models/full_SBI_NPE_beta_ssfr_Muv_burst.pkl
lyra/models/full_SBI_NPE_metallicity_Av_B_delta_logU_mass_ssfr_beta_Muv_burst.pkl
lyra/models/full_SBI_NPE_metallicity_beta_logU_mass_ssfr_Muv_burst.pkl
lyra/models/full_SBI_NPE_Muv_mass_beta_ssfr.pkl
lyra/models/full_SBI_NPE_Muv_beta.pkl
.hf_token

lyra/test/*
lyra/models/*

lyra.egg-info/*

.vscode
.history

__pycache__/*

lyra/__pycache__/*

notebooks/sbi-logs/NPE_C/*
notebooks/sbi-logs/
